# Group Project Proposal

### Group24: Haibin Yu, Eric Zhang, Muhan Yang, Shuhao Zhang

## Title

Whether there is gender inequality between the wages of men and women in Canada.

## Introduction

## Preliminary Results

In [4]:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)
library(haven)

In [5]:
read_dta("data/01_census2016.dta") -> data

In [6]:
glimpse(data)

Rows: 391,938
Columns: 16
$ ppsort  <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335, …
$ agegrp  <dbl+lbl> 11, 12, 15, 14,  8, 11, 11, 11, 12,  8, 15, 11,  9, 14,  8…
$ ageimm  <dbl+lbl> 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99,  2, 99, 99, 99…
$ cip2011 <dbl+lbl>  8,  6,  5, 11, 13, 13,  4, 13,  4, 13, 13,  7,  5, 13, 13…
$ fol     <dbl+lbl> 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1…
$ hdgree  <dbl+lbl>  4,  9,  6,  3,  2,  2,  9,  2,  7,  2,  2,  9,  7,  2,  2…
$ immstat <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1…
$ kol     <dbl+lbl> 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1…
$ lfact   <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ locstud <dbl+lbl>  6,  6,  2,  5, 99, 99,  6, 99,  6, 99, 99,  7,  7, 99, 99…
$ mrkinc  <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000, …
$ pkids   <dbl+lbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 9, 1, 9, 9, 9, 1, 1, 1, 0, 1…
$ pr      <dbl+lbl> 35, 35, 11, 24, 35, 35, 35, 10, 35, 35, 59, 59, 46, 24, 59…
$ sex     <dbl+lbl> 2, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2…
$ vismin  <dbl+lbl> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 13, 13, 13…
$ wages   <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, 24…

In [7]:
data<- data|>
select(wages,sex)
head(data)

  wages sex
1 95000 2
2 19000 1
3 29000 1
4 52000 2
5 27000 2
6 57000 2

## Methods: Plan

## References