In [2]:
library(cowplot)
library(digest)
library(gridExtra)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)
library(broom)
library(ggplot2)
library(haven)
library(dplyr)
library(tidymodels)
library(scales)
library(gridExtra)
library(stargazer)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::combine() masks gridExtra::combine()
✖ dplyr::filter()  masks stats::filter()
✖ dplyr::lag()     masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ dials        1.0.0     ✔ tune         1.0.0
✔ modeldata    1.0.1     ✔ workflows    1.0.0
✔ parsnip      1.0.1     ✔ workflowsets 1.0.0
✔ recipes      1.0.1     ✔ yardstick    1.1.0
✔ rsample      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ dplyr::combine()  masks gridExtra::combine()
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

ERROR: Error in library(stargazer): there is no package called ‘stargazer’

In [3]:
read_dta("data/01_census2016.dta") -> data

In [4]:
glimpse(data)

Rows: 391,938
Columns: 16
$ ppsort  <dbl> 453141, 732612, 143665, 52611, 36927, 268123, 700087, 488335, …
$ agegrp  <dbl+lbl> 11, 12, 15, 14,  8, 11, 11, 11, 12,  8, 15, 11,  9, 14,  8…
$ ageimm  <dbl+lbl> 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99,  2, 99, 99, 99…
$ cip2011 <dbl+lbl>  8,  6,  5, 11, 13, 13,  4, 13,  4, 13, 13,  7,  5, 13, 13…
$ fol     <dbl+lbl> 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1…
$ hdgree  <dbl+lbl>  4,  9,  6,  3,  2,  2,  9,  2,  7,  2,  2,  9,  7,  2,  2…
$ immstat <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1…
$ kol     <dbl+lbl> 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 1…
$ lfact   <dbl+lbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ locstud <dbl+lbl>  6,  6,  2,  5, 99, 99,  6, 99,  6, 99, 99,  7,  7, 99, 99…
$ mrkinc  <dbl> 97000, 41000, 30000, 54000, 27000, 40000, 69000, 56000, 3000, …
$ pkids   <dbl+lbl> 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 9, 1, 9, 9, 9, 1, 1, 1, 0, 1…
$ pr      <dbl+lbl> 35, 35, 11, 24, 35, 35, 35, 10, 35, 35, 59, 59, 46, 24, 59…
$ sex     <dbl+lbl> 2, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2…
$ vismin  <dbl+lbl> 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 13, 13, 13…
$ wages   <dbl> 95000, 19000, 29000, 52000, 27000, 57000, 70000, 55000, NA, 24…

In [5]:
head(data)

  ppsort agegrp ageimm cip2011 fol hdgree immstat kol lfact locstud mrkinc
1 453141 11     99      8      1   4      1       1   1      6      97000
2 732612 12     99      6      1   9      1       3   1      6      41000
3 143665 15     99      5      2   6      1       3   1      2      30000
4  52611 14     99     11      2   3      1       2   1      5      54000
5  36927  8     99     13      1   2      1       1   1     99      27000
6 268123 11     99     13      1   2      1       1   1     99      40000
  pkids pr sex vismin wages
1 1     35 2   13     95000
2 1     35 1   13     19000
3 0     11 1   13     29000
4 0     24 2   13     52000
5 1     35 2   13     27000
6 1     35 2   13     57000

In [7]:
data<- data|>
select(wages,sex)
head(data)

  wages sex
1 95000 2
2 19000 1
3 29000 1
4 52000 2
5 27000 2
6 57000 2